In [1]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_excel("~/Documents/NIH IRTA/Running Log.xlsx")

In [16]:
print(df)

            Date  Mileage     Time
0     2009-04-25     3.10    29:38
1     2009-11-21     3.10    22:51
2     2010-01-04     1.30    17:00
3     2010-01-05     2.60    28:00
4     2010-01-07     2.60    28:00
5     2010-01-11     1.30      NaN
6     2010-01-14     2.60    26:00
7     2010-01-16     4.05    35:48
8     2010-01-19     2.60    24:00
9     2010-01-25     2.66    24:15
10    2010-01-26     2.60    24:19
11    2010-01-28     3.27    26:29
12    2010-02-04     2.60    24:03
13    2010-02-11     2.60      NaN
14    2010-02-16     2.60    22:04
15    2010-02-18     2.60    22:56
16    2010-03-13     3.00    29:28
17    2010-03-15     3.00    28:00
18    2010-03-16     3.00    30:00
19    2010-04-04     2.60    22:02
20    2010-04-24     3.10    24:12
21    2010-05-02     3.75    42:04
22    2010-05-11     2.60    22:10
23    2010-05-13     2.13    21:00
24    2010-05-19     2.60    20:15
25    2010-05-20     3.30      NaN
26    2010-05-22     4.05    37:34
27    2010-05-25     4.30    33:48
28    2010-05-27     5.40    38:58
29    2010-05-29     2.60    22:25
...          ...      ...      ...
1378  2016-11-15     8.04    59:03
1379  2016-11-16     7.80      NaN
1380  2016-11-17     6.95    49:35
1381  2016-11-18     6.00    43:06
1382  2016-11-19     4.97    26:49
1383  2016-11-19     4.43      NaN
1384  2016-11-22     4.54    36:13
1385  2016-11-23     6.76    46:14
1386  2016-11-24     6.86    48:51
1387  2016-11-25     6.30    50:28
1388  2016-11-26     6.13    46:34
1389  2016-11-27    10.00  1:10:51
1390  2016-11-28     7.03      NaN
1391  2016-11-29     8.00    59:27
1392  2016-11-30     8.31      NaN
1393  2016-12-01     7.02    54:41
1394  2016-12-02     6.13    45:15
1395  2016-12-03     3.10    16:09
1396  2016-12-03     7.77      NaN
1397  2016-12-04     5.33    44:59
1398  2016-12-19     4.22    30:54
1399  2016-12-20     4.10    34:29
1400  2016-12-21     4.10    33:34
1401  2016-12-22     4.49    33:27
1402  2016-12-23     6.06    45:24
1403  2016-12-26     6.10    45:49
1404  2016-12-27     5.34    44:01
1405  2016-12-28     5.00    39:00
1406  2016-12-29     7.00    50:35
1407  2016-12-31     5.37    42:46

[1408 rows x 3 columns]

In [17]:
# added new col to standardize format of time var as "h:mm:ss"
df["time_h"] = pd.np.where(df.Time.str.contains('\d:\d\d:\d\d', regex = True), df["Time"], "0:" + df["Time"])
print(df)

            Date  Mileage     Time   time_h
0     2009-04-25     3.10    29:38  0:29:38
1     2009-11-21     3.10    22:51  0:22:51
2     2010-01-04     1.30    17:00  0:17:00
3     2010-01-05     2.60    28:00  0:28:00
4     2010-01-07     2.60    28:00  0:28:00
5     2010-01-11     1.30      NaN      NaN
6     2010-01-14     2.60    26:00  0:26:00
7     2010-01-16     4.05    35:48  0:35:48
8     2010-01-19     2.60    24:00  0:24:00
9     2010-01-25     2.66    24:15  0:24:15
10    2010-01-26     2.60    24:19  0:24:19
11    2010-01-28     3.27    26:29  0:26:29
12    2010-02-04     2.60    24:03  0:24:03
13    2010-02-11     2.60      NaN      NaN
14    2010-02-16     2.60    22:04  0:22:04
15    2010-02-18     2.60    22:56  0:22:56
16    2010-03-13     3.00    29:28  0:29:28
17    2010-03-15     3.00    28:00  0:28:00
18    2010-03-16     3.00    30:00  0:30:00
19    2010-04-04     2.60    22:02  0:22:02
20    2010-04-24     3.10    24:12  0:24:12
21    2010-05-02     3.75    42:04  0:42:04
22    2010-05-11     2.60    22:10  0:22:10
23    2010-05-13     2.13    21:00  0:21:00
24    2010-05-19     2.60    20:15  0:20:15
25    2010-05-20     3.30      NaN      NaN
26    2010-05-22     4.05    37:34  0:37:34
27    2010-05-25     4.30    33:48  0:33:48
28    2010-05-27     5.40    38:58  0:38:58
29    2010-05-29     2.60    22:25  0:22:25
...          ...      ...      ...      ...
1378  2016-11-15     8.04    59:03  0:59:03
1379  2016-11-16     7.80      NaN      NaN
1380  2016-11-17     6.95    49:35  0:49:35
1381  2016-11-18     6.00    43:06  0:43:06
1382  2016-11-19     4.97    26:49  0:26:49
1383  2016-11-19     4.43      NaN      NaN
1384  2016-11-22     4.54    36:13  0:36:13
1385  2016-11-23     6.76    46:14  0:46:14
1386  2016-11-24     6.86    48:51  0:48:51
1387  2016-11-25     6.30    50:28  0:50:28
1388  2016-11-26     6.13    46:34  0:46:34
1389  2016-11-27    10.00  1:10:51  1:10:51
1390  2016-11-28     7.03      NaN      NaN
1391  2016-11-29     8.00    59:27  0:59:27
1392  2016-11-30     8.31      NaN      NaN
1393  2016-12-01     7.02    54:41  0:54:41
1394  2016-12-02     6.13    45:15  0:45:15
1395  2016-12-03     3.10    16:09  0:16:09
1396  2016-12-03     7.77      NaN      NaN
1397  2016-12-04     5.33    44:59  0:44:59
1398  2016-12-19     4.22    30:54  0:30:54
1399  2016-12-20     4.10    34:29  0:34:29
1400  2016-12-21     4.10    33:34  0:33:34
1401  2016-12-22     4.49    33:27  0:33:27
1402  2016-12-23     6.06    45:24  0:45:24
1403  2016-12-26     6.10    45:49  0:45:49
1404  2016-12-27     5.34    44:01  0:44:01
1405  2016-12-28     5.00    39:00  0:39:00
1406  2016-12-29     7.00    50:35  0:50:35
1407  2016-12-31     5.37    42:46  0:42:46

[1408 rows x 4 columns]

In [27]:
print(df.iloc[[800]])

                    Date  Mileage   Time   time_h
800  2014-12-16 00:00:00     4.58  36:59  0:36:59

In [18]:
# created new dataframe with "time_h" col expanded into hr, min, and sec vars
new = df["time_h"].str.split(pat = ":", expand = True)
print(new)

        0    1    2
0       0   29   38
1       0   22   51
2       0   17   00
3       0   28   00
4       0   28   00
5     NaN  NaN  NaN
6       0   26   00
7       0   35   48
8       0   24   00
9       0   24   15
10      0   24   19
11      0   26   29
12      0   24   03
13    NaN  NaN  NaN
14      0   22   04
15      0   22   56
16      0   29   28
17      0   28   00
18      0   30   00
19      0   22   02
20      0   24   12
21      0   42   04
22      0   22   10
23      0   21   00
24      0   20   15
25    NaN  NaN  NaN
26      0   37   34
27      0   33   48
28      0   38   58
29      0   22   25
...   ...  ...  ...
1378    0   59   03
1379  NaN  NaN  NaN
1380    0   49   35
1381    0   43   06
1382    0   26   49
1383  NaN  NaN  NaN
1384    0   36   13
1385    0   46   14
1386    0   48   51
1387    0   50   28
1388    0   46   34
1389    1   10   51
1390  NaN  NaN  NaN
1391    0   59   27
1392  NaN  NaN  NaN
1393    0   54   41
1394    0   45   15
1395    0   16   09
1396  NaN  NaN  NaN
1397    0   44   59
1398    0   30   54
1399    0   34   29
1400    0   33   34
1401    0   33   27
1402    0   45   24
1403    0   45   49
1404    0   44   01
1405    0   39   00
1406    0   50   35
1407    0   42   46

[1408 rows x 3 columns]

In [65]:
result = pd.concat([df, new], axis=1, sort=False)
print(result)

            Date  Mileage     Time   time_h    0    1    2
0     2009-04-25     3.10    29:38  0:29:38    0   29   38
1     2009-11-21     3.10    22:51  0:22:51    0   22   51
2     2010-01-04     1.30    17:00  0:17:00    0   17   00
3     2010-01-05     2.60    28:00  0:28:00    0   28   00
4     2010-01-07     2.60    28:00  0:28:00    0   28   00
5     2010-01-11     1.30      NaN      NaN  NaN  NaN  NaN
6     2010-01-14     2.60    26:00  0:26:00    0   26   00
7     2010-01-16     4.05    35:48  0:35:48    0   35   48
8     2010-01-19     2.60    24:00  0:24:00    0   24   00
9     2010-01-25     2.66    24:15  0:24:15    0   24   15
10    2010-01-26     2.60    24:19  0:24:19    0   24   19
11    2010-01-28     3.27    26:29  0:26:29    0   26   29
12    2010-02-04     2.60    24:03  0:24:03    0   24   03
13    2010-02-11     2.60      NaN      NaN  NaN  NaN  NaN
14    2010-02-16     2.60    22:04  0:22:04    0   22   04
15    2010-02-18     2.60    22:56  0:22:56    0   22   56
16    2010-03-13     3.00    29:28  0:29:28    0   29   28
17    2010-03-15     3.00    28:00  0:28:00    0   28   00
18    2010-03-16     3.00    30:00  0:30:00    0   30   00
19    2010-04-04     2.60    22:02  0:22:02    0   22   02
20    2010-04-24     3.10    24:12  0:24:12    0   24   12
21    2010-05-02     3.75    42:04  0:42:04    0   42   04
22    2010-05-11     2.60    22:10  0:22:10    0   22   10
23    2010-05-13     2.13    21:00  0:21:00    0   21   00
24    2010-05-19     2.60    20:15  0:20:15    0   20   15
25    2010-05-20     3.30      NaN      NaN  NaN  NaN  NaN
26    2010-05-22     4.05    37:34  0:37:34    0   37   34
27    2010-05-25     4.30    33:48  0:33:48    0   33   48
28    2010-05-27     5.40    38:58  0:38:58    0   38   58
29    2010-05-29     2.60    22:25  0:22:25    0   22   25
...          ...      ...      ...      ...  ...  ...  ...
1378  2016-11-15     8.04    59:03  0:59:03    0   59   03
1379  2016-11-16     7.80      NaN      NaN  NaN  NaN  NaN
1380  2016-11-17     6.95    49:35  0:49:35    0   49   35
1381  2016-11-18     6.00    43:06  0:43:06    0   43   06
1382  2016-11-19     4.97    26:49  0:26:49    0   26   49
1383  2016-11-19     4.43      NaN      NaN  NaN  NaN  NaN
1384  2016-11-22     4.54    36:13  0:36:13    0   36   13
1385  2016-11-23     6.76    46:14  0:46:14    0   46   14
1386  2016-11-24     6.86    48:51  0:48:51    0   48   51
1387  2016-11-25     6.30    50:28  0:50:28    0   50   28
1388  2016-11-26     6.13    46:34  0:46:34    0   46   34
1389  2016-11-27    10.00  1:10:51  1:10:51    1   10   51
1390  2016-11-28     7.03      NaN      NaN  NaN  NaN  NaN
1391  2016-11-29     8.00    59:27  0:59:27    0   59   27
1392  2016-11-30     8.31      NaN      NaN  NaN  NaN  NaN
1393  2016-12-01     7.02    54:41  0:54:41    0   54   41
1394  2016-12-02     6.13    45:15  0:45:15    0   45   15
1395  2016-12-03     3.10    16:09  0:16:09    0   16   09
1396  2016-12-03     7.77      NaN      NaN  NaN  NaN  NaN
1397  2016-12-04     5.33    44:59  0:44:59    0   44   59
1398  2016-12-19     4.22    30:54  0:30:54    0   30   54
1399  2016-12-20     4.10    34:29  0:34:29    0   34   29
1400  2016-12-21     4.10    33:34  0:33:34    0   33   34
1401  2016-12-22     4.49    33:27  0:33:27    0   33   27
1402  2016-12-23     6.06    45:24  0:45:24    0   45   24
1403  2016-12-26     6.10    45:49  0:45:49    0   45   49
1404  2016-12-27     5.34    44:01  0:44:01    0   44   01
1405  2016-12-28     5.00    39:00  0:39:00    0   39   00
1406  2016-12-29     7.00    50:35  0:50:35    0   50   35
1407  2016-12-31     5.37    42:46  0:42:46    0   42   46

[1408 rows x 7 columns]

In [81]:
df2 = result.rename(columns={"time_h": "time_corr", 0: "hours", 1: "minutes", 2: "seconds"})
print(df2)

            Date  Mileage     Time time_corr hours minutes seconds
0     2009-04-25     3.10    29:38   0:29:38     0      29      38
1     2009-11-21     3.10    22:51   0:22:51     0      22      51
2     2010-01-04     1.30    17:00   0:17:00     0      17      00
3     2010-01-05     2.60    28:00   0:28:00     0      28      00
4     2010-01-07     2.60    28:00   0:28:00     0      28      00
5     2010-01-11     1.30      NaN       NaN   NaN     NaN     NaN
6     2010-01-14     2.60    26:00   0:26:00     0      26      00
7     2010-01-16     4.05    35:48   0:35:48     0      35      48
8     2010-01-19     2.60    24:00   0:24:00     0      24      00
9     2010-01-25     2.66    24:15   0:24:15     0      24      15
10    2010-01-26     2.60    24:19   0:24:19     0      24      19
11    2010-01-28     3.27    26:29   0:26:29     0      26      29
12    2010-02-04     2.60    24:03   0:24:03     0      24      03
13    2010-02-11     2.60      NaN       NaN   NaN     NaN     NaN
14    2010-02-16     2.60    22:04   0:22:04     0      22      04
15    2010-02-18     2.60    22:56   0:22:56     0      22      56
16    2010-03-13     3.00    29:28   0:29:28     0      29      28
17    2010-03-15     3.00    28:00   0:28:00     0      28      00
18    2010-03-16     3.00    30:00   0:30:00     0      30      00
19    2010-04-04     2.60    22:02   0:22:02     0      22      02
20    2010-04-24     3.10    24:12   0:24:12     0      24      12
21    2010-05-02     3.75    42:04   0:42:04     0      42      04
22    2010-05-11     2.60    22:10   0:22:10     0      22      10
23    2010-05-13     2.13    21:00   0:21:00     0      21      00
24    2010-05-19     2.60    20:15   0:20:15     0      20      15
25    2010-05-20     3.30      NaN       NaN   NaN     NaN     NaN
26    2010-05-22     4.05    37:34   0:37:34     0      37      34
27    2010-05-25     4.30    33:48   0:33:48     0      33      48
28    2010-05-27     5.40    38:58   0:38:58     0      38      58
29    2010-05-29     2.60    22:25   0:22:25     0      22      25
...          ...      ...      ...       ...   ...     ...     ...
1378  2016-11-15     8.04    59:03   0:59:03     0      59      03
1379  2016-11-16     7.80      NaN       NaN   NaN     NaN     NaN
1380  2016-11-17     6.95    49:35   0:49:35     0      49      35
1381  2016-11-18     6.00    43:06   0:43:06     0      43      06
1382  2016-11-19     4.97    26:49   0:26:49     0      26      49
1383  2016-11-19     4.43      NaN       NaN   NaN     NaN     NaN
1384  2016-11-22     4.54    36:13   0:36:13     0      36      13
1385  2016-11-23     6.76    46:14   0:46:14     0      46      14
1386  2016-11-24     6.86    48:51   0:48:51     0      48      51
1387  2016-11-25     6.30    50:28   0:50:28     0      50      28
1388  2016-11-26     6.13    46:34   0:46:34     0      46      34
1389  2016-11-27    10.00  1:10:51   1:10:51     1      10      51
1390  2016-11-28     7.03      NaN       NaN   NaN     NaN     NaN
1391  2016-11-29     8.00    59:27   0:59:27     0      59      27
1392  2016-11-30     8.31      NaN       NaN   NaN     NaN     NaN
1393  2016-12-01     7.02    54:41   0:54:41     0      54      41
1394  2016-12-02     6.13    45:15   0:45:15     0      45      15
1395  2016-12-03     3.10    16:09   0:16:09     0      16      09
1396  2016-12-03     7.77      NaN       NaN   NaN     NaN     NaN
1397  2016-12-04     5.33    44:59   0:44:59     0      44      59
1398  2016-12-19     4.22    30:54   0:30:54     0      30      54
1399  2016-12-20     4.10    34:29   0:34:29     0      34      29
1400  2016-12-21     4.10    33:34   0:33:34     0      33      34
1401  2016-12-22     4.49    33:27   0:33:27     0      33      27
1402  2016-12-23     6.06    45:24   0:45:24     0      45      24
1403  2016-12-26     6.10    45:49   0:45:49     0      45      49
1404  2016-12-27     5.34    44:01   0:44:01     0      44      01
1405  2016-12-28     5.00    39:00   0:39:00     0      39      00
1406  2016-12-29     7.00    50:35   0:50:35     0      50      35
1407  2016-12-31     5.37    42:46   0:42:46     0      42      46

[1408 rows x 7 columns]

In [82]:
df2['hours'] = pd.to_numeric(df2['hours'])
df2['minutes'] = pd.to_numeric(df2['minutes'])
df2['seconds'] = pd.to_numeric(df2['seconds'])

In [83]:
time_seconds = df2.hours*3600 + df2.minutes*60 + df2.seconds
df2['time_s'] = time_seconds
print(df2)

            Date  Mileage     Time time_corr  hours  minutes  seconds  time_s
0     2009-04-25     3.10    29:38   0:29:38    0.0     29.0     38.0  1778.0
1     2009-11-21     3.10    22:51   0:22:51    0.0     22.0     51.0  1371.0
2     2010-01-04     1.30    17:00   0:17:00    0.0     17.0      0.0  1020.0
3     2010-01-05     2.60    28:00   0:28:00    0.0     28.0      0.0  1680.0
4     2010-01-07     2.60    28:00   0:28:00    0.0     28.0      0.0  1680.0
5     2010-01-11     1.30      NaN       NaN    NaN      NaN      NaN     NaN
6     2010-01-14     2.60    26:00   0:26:00    0.0     26.0      0.0  1560.0
7     2010-01-16     4.05    35:48   0:35:48    0.0     35.0     48.0  2148.0
8     2010-01-19     2.60    24:00   0:24:00    0.0     24.0      0.0  1440.0
9     2010-01-25     2.66    24:15   0:24:15    0.0     24.0     15.0  1455.0
10    2010-01-26     2.60    24:19   0:24:19    0.0     24.0     19.0  1459.0
11    2010-01-28     3.27    26:29   0:26:29    0.0     26.0     29.0  1589.0
12    2010-02-04     2.60    24:03   0:24:03    0.0     24.0      3.0  1443.0
13    2010-02-11     2.60      NaN       NaN    NaN      NaN      NaN     NaN
14    2010-02-16     2.60    22:04   0:22:04    0.0     22.0      4.0  1324.0
15    2010-02-18     2.60    22:56   0:22:56    0.0     22.0     56.0  1376.0
16    2010-03-13     3.00    29:28   0:29:28    0.0     29.0     28.0  1768.0
17    2010-03-15     3.00    28:00   0:28:00    0.0     28.0      0.0  1680.0
18    2010-03-16     3.00    30:00   0:30:00    0.0     30.0      0.0  1800.0
19    2010-04-04     2.60    22:02   0:22:02    0.0     22.0      2.0  1322.0
20    2010-04-24     3.10    24:12   0:24:12    0.0     24.0     12.0  1452.0
21    2010-05-02     3.75    42:04   0:42:04    0.0     42.0      4.0  2524.0
22    2010-05-11     2.60    22:10   0:22:10    0.0     22.0     10.0  1330.0
23    2010-05-13     2.13    21:00   0:21:00    0.0     21.0      0.0  1260.0
24    2010-05-19     2.60    20:15   0:20:15    0.0     20.0     15.0  1215.0
25    2010-05-20     3.30      NaN       NaN    NaN      NaN      NaN     NaN
26    2010-05-22     4.05    37:34   0:37:34    0.0     37.0     34.0  2254.0
27    2010-05-25     4.30    33:48   0:33:48    0.0     33.0     48.0  2028.0
28    2010-05-27     5.40    38:58   0:38:58    0.0     38.0     58.0  2338.0
29    2010-05-29     2.60    22:25   0:22:25    0.0     22.0     25.0  1345.0
...          ...      ...      ...       ...    ...      ...      ...     ...
1378  2016-11-15     8.04    59:03   0:59:03    0.0     59.0      3.0  3543.0
1379  2016-11-16     7.80      NaN       NaN    NaN      NaN      NaN     NaN
1380  2016-11-17     6.95    49:35   0:49:35    0.0     49.0     35.0  2975.0
1381  2016-11-18     6.00    43:06   0:43:06    0.0     43.0      6.0  2586.0
1382  2016-11-19     4.97    26:49   0:26:49    0.0     26.0     49.0  1609.0
1383  2016-11-19     4.43      NaN       NaN    NaN      NaN      NaN     NaN
1384  2016-11-22     4.54    36:13   0:36:13    0.0     36.0     13.0  2173.0
1385  2016-11-23     6.76    46:14   0:46:14    0.0     46.0     14.0  2774.0
1386  2016-11-24     6.86    48:51   0:48:51    0.0     48.0     51.0  2931.0
1387  2016-11-25     6.30    50:28   0:50:28    0.0     50.0     28.0  3028.0
1388  2016-11-26     6.13    46:34   0:46:34    0.0     46.0     34.0  2794.0
1389  2016-11-27    10.00  1:10:51   1:10:51    1.0     10.0     51.0  4251.0
1390  2016-11-28     7.03      NaN       NaN    NaN      NaN      NaN     NaN
1391  2016-11-29     8.00    59:27   0:59:27    0.0     59.0     27.0  3567.0
1392  2016-11-30     8.31      NaN       NaN    NaN      NaN      NaN     NaN
1393  2016-12-01     7.02    54:41   0:54:41    0.0     54.0     41.0  3281.0
1394  2016-12-02     6.13    45:15   0:45:15    0.0     45.0     15.0  2715.0
1395  2016-12-03     3.10    16:09   0:16:09    0.0     16.0      9.0   969.0
1396  2016-12-03     7.77      NaN       NaN    NaN      NaN      NaN     NaN
1397  2016-12-04     5.33    44:59   0:44:59    0.0     44.0     59.0  2699.0
1398  2016-12-19     4.22    30:54   0:30:54    0.0     30.0     54.0  1854.0
1399  2016-12-20     4.10    34:29   0:34:29    0.0     34.0     29.0  2069.0
1400  2016-12-21     4.10    33:34   0:33:34    0.0     33.0     34.0  2014.0
1401  2016-12-22     4.49    33:27   0:33:27    0.0     33.0     27.0  2007.0
1402  2016-12-23     6.06    45:24   0:45:24    0.0     45.0     24.0  2724.0
1403  2016-12-26     6.10    45:49   0:45:49    0.0     45.0     49.0  2749.0
1404  2016-12-27     5.34    44:01   0:44:01    0.0     44.0      1.0  2641.0
1405  2016-12-28     5.00    39:00   0:39:00    0.0     39.0      0.0  2340.0
1406  2016-12-29     7.00    50:35   0:50:35    0.0     50.0     35.0  3035.0
1407  2016-12-31     5.37    42:46   0:42:46    0.0     42.0     46.0  2566.0

[1408 rows x 8 columns]

In [84]:
df2['Mileage'] = pd.to_numeric(df2['Mileage'])
pace_s = df2.time_s / df2.Mileage
df2['pace_s'] = pace_s
print(df2.tail(10))

            Date  Mileage   Time time_corr  hours  minutes  seconds  time_s  \
1398  2016-12-19     4.22  30:54   0:30:54    0.0     30.0     54.0  1854.0
1399  2016-12-20     4.10  34:29   0:34:29    0.0     34.0     29.0  2069.0
1400  2016-12-21     4.10  33:34   0:33:34    0.0     33.0     34.0  2014.0
1401  2016-12-22     4.49  33:27   0:33:27    0.0     33.0     27.0  2007.0
1402  2016-12-23     6.06  45:24   0:45:24    0.0     45.0     24.0  2724.0
1403  2016-12-26     6.10  45:49   0:45:49    0.0     45.0     49.0  2749.0
1404  2016-12-27     5.34  44:01   0:44:01    0.0     44.0      1.0  2641.0
1405  2016-12-28     5.00  39:00   0:39:00    0.0     39.0      0.0  2340.0
1406  2016-12-29     7.00  50:35   0:50:35    0.0     50.0     35.0  3035.0
1407  2016-12-31     5.37  42:46   0:42:46    0.0     42.0     46.0  2566.0

          pace_s
1398  439.336493
1399  504.634146
1400  491.219512
1401  446.993318
1402  449.504950
1403  450.655738
1404  494.569288
1405  468.000000
1406  433.571429
1407  477.839851

In [85]:
pace_min = df2.pace_s / 60
df2['pace_min'] = pace_min
print(df2.tail(10))

            Date  Mileage   Time time_corr  hours  minutes  seconds  time_s  \
1398  2016-12-19     4.22  30:54   0:30:54    0.0     30.0     54.0  1854.0
1399  2016-12-20     4.10  34:29   0:34:29    0.0     34.0     29.0  2069.0
1400  2016-12-21     4.10  33:34   0:33:34    0.0     33.0     34.0  2014.0
1401  2016-12-22     4.49  33:27   0:33:27    0.0     33.0     27.0  2007.0
1402  2016-12-23     6.06  45:24   0:45:24    0.0     45.0     24.0  2724.0
1403  2016-12-26     6.10  45:49   0:45:49    0.0     45.0     49.0  2749.0
1404  2016-12-27     5.34  44:01   0:44:01    0.0     44.0      1.0  2641.0
1405  2016-12-28     5.00  39:00   0:39:00    0.0     39.0      0.0  2340.0
1406  2016-12-29     7.00  50:35   0:50:35    0.0     50.0     35.0  3035.0
1407  2016-12-31     5.37  42:46   0:42:46    0.0     42.0     46.0  2566.0

          pace_s  pace_min
1398  439.336493  7.322275
1399  504.634146  8.410569
1400  491.219512  8.186992
1401  446.993318  7.449889
1402  449.504950  7.491749
1403  450.655738  7.510929
1404  494.569288  8.242821
1405  468.000000  7.800000
1406  433.571429  7.226190
1407  477.839851  7.963998

In [87]:
df2.Date = df2.Date.astype(str)
df2['Date'] = df2['Date'].str[:10]
print(df2)

            Date  Mileage     Time time_corr  hours  minutes  seconds  time_s  \
0     2009-04-25     3.10    29:38   0:29:38    0.0     29.0     38.0  1778.0
1     2009-11-21     3.10    22:51   0:22:51    0.0     22.0     51.0  1371.0
2     2010-01-04     1.30    17:00   0:17:00    0.0     17.0      0.0  1020.0
3     2010-01-05     2.60    28:00   0:28:00    0.0     28.0      0.0  1680.0
4     2010-01-07     2.60    28:00   0:28:00    0.0     28.0      0.0  1680.0
5     2010-01-11     1.30      NaN       NaN    NaN      NaN      NaN     NaN
6     2010-01-14     2.60    26:00   0:26:00    0.0     26.0      0.0  1560.0
7     2010-01-16     4.05    35:48   0:35:48    0.0     35.0     48.0  2148.0
8     2010-01-19     2.60    24:00   0:24:00    0.0     24.0      0.0  1440.0
9     2010-01-25     2.66    24:15   0:24:15    0.0     24.0     15.0  1455.0
10    2010-01-26     2.60    24:19   0:24:19    0.0     24.0     19.0  1459.0
11    2010-01-28     3.27    26:29   0:26:29    0.0     26.0     29.0  1589.0
12    2010-02-04     2.60    24:03   0:24:03    0.0     24.0      3.0  1443.0
13    2010-02-11     2.60      NaN       NaN    NaN      NaN      NaN     NaN
14    2010-02-16     2.60    22:04   0:22:04    0.0     22.0      4.0  1324.0
15    2010-02-18     2.60    22:56   0:22:56    0.0     22.0     56.0  1376.0
16    2010-03-13     3.00    29:28   0:29:28    0.0     29.0     28.0  1768.0
17    2010-03-15     3.00    28:00   0:28:00    0.0     28.0      0.0  1680.0
18    2010-03-16     3.00    30:00   0:30:00    0.0     30.0      0.0  1800.0
19    2010-04-04     2.60    22:02   0:22:02    0.0     22.0      2.0  1322.0
20    2010-04-24     3.10    24:12   0:24:12    0.0     24.0     12.0  1452.0
21    2010-05-02     3.75    42:04   0:42:04    0.0     42.0      4.0  2524.0
22    2010-05-11     2.60    22:10   0:22:10    0.0     22.0     10.0  1330.0
23    2010-05-13     2.13    21:00   0:21:00    0.0     21.0      0.0  1260.0
24    2010-05-19     2.60    20:15   0:20:15    0.0     20.0     15.0  1215.0
25    2010-05-20     3.30      NaN       NaN    NaN      NaN      NaN     NaN
26    2010-05-22     4.05    37:34   0:37:34    0.0     37.0     34.0  2254.0
27    2010-05-25     4.30    33:48   0:33:48    0.0     33.0     48.0  2028.0
28    2010-05-27     5.40    38:58   0:38:58    0.0     38.0     58.0  2338.0
29    2010-05-29     2.60    22:25   0:22:25    0.0     22.0     25.0  1345.0
...          ...      ...      ...       ...    ...      ...      ...     ...
1378  2016-11-15     8.04    59:03   0:59:03    0.0     59.0      3.0  3543.0
1379  2016-11-16     7.80      NaN       NaN    NaN      NaN      NaN     NaN
1380  2016-11-17     6.95    49:35   0:49:35    0.0     49.0     35.0  2975.0
1381  2016-11-18     6.00    43:06   0:43:06    0.0     43.0      6.0  2586.0
1382  2016-11-19     4.97    26:49   0:26:49    0.0     26.0     49.0  1609.0
1383  2016-11-19     4.43      NaN       NaN    NaN      NaN      NaN     NaN
1384  2016-11-22     4.54    36:13   0:36:13    0.0     36.0     13.0  2173.0
1385  2016-11-23     6.76    46:14   0:46:14    0.0     46.0     14.0  2774.0
1386  2016-11-24     6.86    48:51   0:48:51    0.0     48.0     51.0  2931.0
1387  2016-11-25     6.30    50:28   0:50:28    0.0     50.0     28.0  3028.0
1388  2016-11-26     6.13    46:34   0:46:34    0.0     46.0     34.0  2794.0
1389  2016-11-27    10.00  1:10:51   1:10:51    1.0     10.0     51.0  4251.0
1390  2016-11-28     7.03      NaN       NaN    NaN      NaN      NaN     NaN
1391  2016-11-29     8.00    59:27   0:59:27    0.0     59.0     27.0  3567.0
1392  2016-11-30     8.31      NaN       NaN    NaN      NaN      NaN     NaN
1393  2016-12-01     7.02    54:41   0:54:41    0.0     54.0     41.0  3281.0
1394  2016-12-02     6.13    45:15   0:45:15    0.0     45.0     15.0  2715.0
1395  2016-12-03     3.10    16:09   0:16:09    0.0     16.0      9.0   969.0
1396  2016-12-03     7.77      NaN       NaN    NaN      NaN      NaN     NaN
1397  2016-12-04     5.33    44:59   0:44:59    0.0     44.0     59.0  2699.0
1398  2016-12-19     4.22    30:54   0:30:54    0.0     30.0     54.0  1854.0
1399  2016-12-20     4.10    34:29   0:34:29    0.0     34.0     29.0  2069.0
1400  2016-12-21     4.10    33:34   0:33:34    0.0     33.0     34.0  2014.0
1401  2016-12-22     4.49    33:27   0:33:27    0.0     33.0     27.0  2007.0
1402  2016-12-23     6.06    45:24   0:45:24    0.0     45.0     24.0  2724.0
1403  2016-12-26     6.10    45:49   0:45:49    0.0     45.0     49.0  2749.0
1404  2016-12-27     5.34    44:01   0:44:01    0.0     44.0      1.0  2641.0
1405  2016-12-28     5.00    39:00   0:39:00    0.0     39.0      0.0  2340.0
1406  2016-12-29     7.00    50:35   0:50:35    0.0     50.0     35.0  3035.0
1407  2016-12-31     5.37    42:46   0:42:46    0.0     42.0     46.0  2566.0

          pace_s   pace_min
0     573.548387   9.559140
1     442.258065   7.370968
2     784.615385  13.076923
3     646.153846  10.769231
4     646.153846  10.769231
5            NaN        NaN
6     600.000000  10.000000
7     530.370370   8.839506
8     553.846154   9.230769
9     546.992481   9.116541
10    561.153846   9.352564
11    485.932722   8.098879
12    555.000000   9.250000
13           NaN        NaN
14    509.230769   8.487179
15    529.230769   8.820513
16    589.333333   9.822222
17    560.000000   9.333333
18    600.000000  10.000000
19    508.461538   8.474359
20    468.387097   7.806452
21    673.066667  11.217778
22    511.538462   8.525641
23    591.549296   9.859155
24    467.307692   7.788462
25           NaN        NaN
26    556.543210   9.275720
27    471.627907   7.860465
28    432.962963   7.216049
29    517.307692   8.621795
...          ...        ...
1378  440.671642   7.344527
1379         NaN        NaN
1380  428.057554   7.134293
1381  431.000000   7.183333
1382  323.742455   5.395708
1383         NaN        NaN
1384  478.634361   7.977239
1385  410.355030   6.839250
1386  427.259475   7.120991
1387  480.634921   8.010582
1388  455.791191   7.596520
1389  425.100000   7.085000
1390         NaN        NaN
1391  445.875000   7.431250
1392         NaN        NaN
1393  467.378917   7.789649
1394  442.903752   7.381729
1395  312.580645   5.209677
1396         NaN        NaN
1397  506.378987   8.439650
1398  439.336493   7.322275
1399  504.634146   8.410569
1400  491.219512   8.186992
1401  446.993318   7.449889
1402  449.504950   7.491749
1403  450.655738   7.510929
1404  494.569288   8.242821
1405  468.000000   7.800000
1406  433.571429   7.226190
1407  477.839851   7.963998

[1408 rows x 10 columns]

In [59]:
df3 = df2[['Date','Mileage','time_corr','pace_min']]
pd.options.display.max_rows=2000
print(df3)
pd.options.display.max_rows=20

            Date  Mileage time_corr            pace_min
0     2009-04-25     3.10   0:29:38   9.559139784946236
1     2009-11-21     3.10   0:22:51   7.370967741935484
2     2010-01-04     1.30   0:17:00  13.076923076923077
3     2010-01-05     2.60   0:28:00  10.769230769230768
4     2010-01-07     2.60   0:28:00  10.769230769230768
5     2010-01-11     1.30       NaN                 nan
6     2010-01-14     2.60   0:26:00                10.0
7     2010-01-16     4.05   0:35:48   8.839506172839508
8     2010-01-19     2.60   0:24:00    9.23076923076923
9     2010-01-25     2.66   0:24:15    9.11654135338346
10    2010-01-26     2.60   0:24:19   9.352564102564104
11    2010-01-28     3.27   0:26:29    8.09887869520897
12    2010-02-04     2.60   0:24:03                9.25
13    2010-02-11     2.60       NaN                 nan
14    2010-02-16     2.60   0:22:04   8.487179487179487
15    2010-02-18     2.60   0:22:56    8.82051282051282
16    2010-03-13     3.00   0:29:28   9.822222222222223
17    2010-03-15     3.00   0:28:00   9.333333333333334
18    2010-03-16     3.00   0:30:00                10.0
19    2010-04-04     2.60   0:22:02   8.474358974358974
20    2010-04-24     3.10   0:24:12   7.806451612903226
21    2010-05-02     3.75   0:42:04  11.217777777777778
22    2010-05-11     2.60   0:22:10   8.525641025641026
23    2010-05-13     2.13   0:21:00   9.859154929577466
24    2010-05-19     2.60   0:20:15   7.788461538461537
25    2010-05-20     3.30       NaN                 nan
26    2010-05-22     4.05   0:37:34   9.275720164609053
27    2010-05-25     4.30   0:33:48    7.86046511627907
28    2010-05-27     5.40   0:38:58   7.216049382716049
29    2010-05-29     2.60   0:22:25    8.62179487179487
...          ...      ...       ...                 ...
1378  2016-11-15     8.04   0:59:03    7.34452736318408
1379  2016-11-16     7.80       NaN                 nan
1380  2016-11-17     6.95   0:49:35   7.134292565947242
1381  2016-11-18     6.00   0:43:06   7.183333333333334
1382  2016-11-19     4.97   0:26:49   5.395707578806171
1383  2016-11-19     4.43       NaN                 nan
1384  2016-11-22     4.54   0:36:13   7.977239353891336
1385  2016-11-23     6.76   0:46:14   6.839250493096647
1386  2016-11-24     6.86   0:48:51  7.1209912536443145
1387  2016-11-25     6.30   0:50:28   8.010582010582011
1388  2016-11-26     6.13   0:46:34   7.596519847743338
1389  2016-11-27    10.00   1:10:51               7.085
1390  2016-11-28     7.03       NaN                 nan
1391  2016-11-29     8.00   0:59:27             7.43125
1392  2016-11-30     8.31       NaN                 nan
1393  2016-12-01     7.02   0:54:41   7.789648622981957
1394  2016-12-02     6.13   0:45:15   7.381729200652528
1395  2016-12-03     3.10   0:16:09   5.209677419354838
1396  2016-12-03     7.77       NaN                 nan
1397  2016-12-04     5.33   0:44:59   8.439649781113197
1398  2016-12-19     4.22   0:30:54   7.322274881516588
1399  2016-12-20     4.10   0:34:29   8.410569105691058
1400  2016-12-21     4.10   0:33:34     8.1869918699187
1401  2016-12-22     4.49   0:33:27    7.44988864142539
1402  2016-12-23     6.06   0:45:24   7.491749174917492
1403  2016-12-26     6.10   0:45:49   7.510928961748634
1404  2016-12-27     5.34   0:44:01   8.242821473158552
1405  2016-12-28     5.00   0:39:00                 7.8
1406  2016-12-29     7.00   0:50:35   7.226190476190476
1407  2016-12-31     5.37   0:42:46   7.963997517070142

[1408 rows x 4 columns]

In [54]:
df3.to_csv("clean.csv", index=False)