In [1]:
import pandas as pd

In [4]:
d = pd.read_csv("clean.csv")

In [5]:
print(d)

            Date  Mileage time_corr   pace_min
0     2009-04-25     3.10   0:29:38   9.559140
1     2009-11-21     3.10   0:22:51   7.370968
2     2010-01-04     1.30   0:17:00  13.076923
3     2010-01-05     2.60   0:28:00  10.769231
4     2010-01-07     2.60   0:28:00  10.769231
5     2010-01-11     1.30       NaN        NaN
6     2010-01-14     2.60   0:26:00  10.000000
7     2010-01-16     4.05   0:35:48   8.839506
8     2010-01-19     2.60   0:24:00   9.230769
9     2010-01-25     2.66   0:24:15   9.116541
10    2010-01-26     2.60   0:24:19   9.352564
11    2010-01-28     3.27   0:26:29   8.098879
12    2010-02-04     2.60   0:24:03   9.250000
13    2010-02-11     2.60       NaN        NaN
14    2010-02-16     2.60   0:22:04   8.487179
15    2010-02-18     2.60   0:22:56   8.820513
16    2010-03-13     3.00   0:29:28   9.822222
17    2010-03-15     3.00   0:28:00   9.333333
18    2010-03-16     3.00   0:30:00  10.000000
19    2010-04-04     2.60   0:22:02   8.474359
20    2010-04-24     3.10   0:24:12   7.806452
21    2010-05-02     3.75   0:42:04  11.217778
22    2010-05-11     2.60   0:22:10   8.525641
23    2010-05-13     2.13   0:21:00   9.859155
24    2010-05-19     2.60   0:20:15   7.788462
25    2010-05-20     3.30       NaN        NaN
26    2010-05-22     4.05   0:37:34   9.275720
27    2010-05-25     4.30   0:33:48   7.860465
28    2010-05-27     5.40   0:38:58   7.216049
29    2010-05-29     2.60   0:22:25   8.621795
...          ...      ...       ...        ...
1378  2016-11-15     8.04   0:59:03   7.344527
1379  2016-11-16     7.80       NaN        NaN
1380  2016-11-17     6.95   0:49:35   7.134293
1381  2016-11-18     6.00   0:43:06   7.183333
1382  2016-11-19     4.97   0:26:49   5.395708
1383  2016-11-19     4.43       NaN        NaN
1384  2016-11-22     4.54   0:36:13   7.977239
1385  2016-11-23     6.76   0:46:14   6.839250
1386  2016-11-24     6.86   0:48:51   7.120991
1387  2016-11-25     6.30   0:50:28   8.010582
1388  2016-11-26     6.13   0:46:34   7.596520
1389  2016-11-27    10.00   1:10:51   7.085000
1390  2016-11-28     7.03       NaN        NaN
1391  2016-11-29     8.00   0:59:27   7.431250
1392  2016-11-30     8.31       NaN        NaN
1393  2016-12-01     7.02   0:54:41   7.789649
1394  2016-12-02     6.13   0:45:15   7.381729
1395  2016-12-03     3.10   0:16:09   5.209677
1396  2016-12-03     7.77       NaN        NaN
1397  2016-12-04     5.33   0:44:59   8.439650
1398  2016-12-19     4.22   0:30:54   7.322275
1399  2016-12-20     4.10   0:34:29   8.410569
1400  2016-12-21     4.10   0:33:34   8.186992
1401  2016-12-22     4.49   0:33:27   7.449889
1402  2016-12-23     6.06   0:45:24   7.491749
1403  2016-12-26     6.10   0:45:49   7.510929
1404  2016-12-27     5.34   0:44:01   8.242821
1405  2016-12-28     5.00   0:39:00   7.800000
1406  2016-12-29     7.00   0:50:35   7.226190
1407  2016-12-31     5.37   0:42:46   7.963998

[1408 rows x 4 columns]