In [1]:
library('tidyverse')
library('lubridate')

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.2     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.2     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [2]:
rpd <- read_csv("clean.csv")

Rows: 3289 Columns: 4
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (1): time_corr
dbl  (2): Mileage, pace_min
date (1): Date

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [3]:
rpd2 <- rpd %>% 
    mutate(Year=year(Date)) %>%
    mutate(Month=month(Date)) %>%
    mutate(Day=day(Date)) %>%
    mutate(month.day=paste(Month, "/", Day, sep=""))

In [4]:
rpd3 <- rpd2 %>%
    group_by(month.day) %>%
    mutate(numRun=row_number(),
           highest=ifelse(numRun==max(numRun),1,0)) %>%
    arrange(Month, Day) %>%
    ungroup()

In [5]:
rpd4 <- rpd3 %>%
    group_by(Date) %>%
    mutate(rpd=row_number(),
           firstRun=ifelse(rpd==1,1,0)) %>%
    ungroup()

In [6]:
rpd4a <- rpd4 %>% 
    filter(firstRun==1) %>%
    group_by(month.day) %>%
    mutate(numYear=row_number()) %>%
    ungroup()
tail(rpd4a)

  Date       Mileage time_corr pace_min Year Month Day month.day numRun highest
1 2020-12-30 7.50    0:52:15   6.966667 2020 12    30  12/30     8      0
2 2022-12-30 5.00    0:40:26   8.086667 2022 12    30  12/30     9      1
3 2015-12-31 5.55    0:38:47   6.987988 2015 12    31  12/31     1      0
4 2016-12-31 5.37    0:42:46   7.963998 2016 12    31  12/31     2      0
5 2017-12-31 7.00    0:51:16   7.323810 2017 12    31  12/31     3      0
6 2020-12-31 6.00    0:44:49   7.469444 2020 12    31  12/31     4      1
  rpd firstRun numYear
1 1   1        8
2 1   1        9
3 1   1        1
4 1   1        2
5 1   1        3
6 1   1        4

In [7]:
rpd4b <- rpd4 %>%
    filter(firstRun==0) %>%
    mutate(numYear=NA)

In [8]:
rpd5 <- rbind(rpd4a,rpd4b) %>%
    arrange(Month,Day,Date,rpd)

In [9]:
rpd5 %>%
    filter(month.day=="10/2")

   Date       Mileage time_corr pace_min Year Month Day month.day numRun
1  2010-10-02  3.10   0:19:39   6.338710 2010 10    2   10/2       1
2  2011-10-02  4.26   0:29:57   7.030516 2011 10    2   10/2       2
3  2012-10-02  3.10   0:18:35   5.994624 2012 10    2   10/2       3
4  2013-10-02  7.56   0:54:42   7.235450 2013 10    2   10/2       4
5  2014-10-02  3.10   0:18:18   5.903226 2014 10    2   10/2       5
6  2015-10-02  3.51   0:25:00   7.122507 2015 10    2   10/2       6
7  2016-10-02 14.07   1:44:56   7.457948 2016 10    2   10/2       7
8  2017-10-02  8.00   0:59:52   7.483333 2017 10    2   10/2       8
9  2018-10-02  4.00   0:28:06   7.025000 2018 10    2   10/2       9
10 2018-10-02 12.00   NA              NA 2018 10    2   10/2      10
11 2019-10-02  9.51   NA              NA 2019 10    2   10/2      11
12 2020-10-02  9.31   1:08:15   7.330827 2020 10    2   10/2      12
13 2021-10-02 13.11   1:16:48   5.858124 2021 10    2   10/2      13
14 2021-10-02  3.00   NA              NA 2021 10    2   10/2      14
   highest rpd firstRun numYear
1  0       1   1         1
2  0       1   1         2
3  0       1   1         3
4  0       1   1         4
5  0       1   1         5
6  0       1   1         6
7  0       1   1         7
8  0       1   1         8
9  0       1   1         9
10 0       2   0        NA
11 0       1   1        10
12 0       1   1        11
13 0       1   1        12
14 1       2   0        NA

In [10]:
rpd6 <- rpd5
rpd6$numYear<-rpd6$numYear[match(rpd6$Date,rpd6$Date)]

In [11]:
rpd6 %>%
    filter(month.day=="12/28")

  Date       Mileage time_corr pace_min Year Month Day month.day numRun highest
1 2015-12-28 5.73    0:51:23   8.967423 2015 12    28  12/28     1      0
2 2016-12-28 5.00    0:39:00   7.800000 2016 12    28  12/28     2      0
3 2017-12-28 3.64    0:26:16   7.216117 2017 12    28  12/28     3      0
4 2018-12-28 6.88    NA              NA 2018 12    28  12/28     4      0
5 2020-12-28 7.00    0:46:35   6.654762 2020 12    28  12/28     5      0
6 2021-12-28 6.00    0:44:51   7.475000 2021 12    28  12/28     6      0
7 2022-12-28 6.59    0:48:41   7.387456 2022 12    28  12/28     7      1
  rpd firstRun numYear
1 1   1        1
2 1   1        2
3 1   1        3
4 1   1        4
5 1   1        5
6 1   1        6
7 1   1        7

In [12]:
write_csv(rpd6,"rpd.csv")