In [1]:
library('tidyverse')
library('lubridate')

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.3     ✔ dplyr   1.0.7
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()


Attaching package: ‘lubridate’


The following objects are masked from ‘package:base’:

    date, intersect, setdiff, union

In [3]:
rpd <- read_csv("clean.csv")

── Column specification ────────────────────────────────────────────────────────
cols(
  Date = col_date(format = ""),
  Mileage = col_double(),
  time_corr = col_character(),
  pace_min = col_double()
)

In [53]:
rpd2 <- rpd %>% 
    mutate(Month=month(Date)) %>%
    mutate(Day=day(Date)) %>%
    mutate(month.day=paste(Month, "/", Day, sep=""))

In [54]:
rpd3 <- rpd2 %>%
    group_by(month.day) %>%
    mutate(numRun=row_number(),
           highest=ifelse(numRun==max(numRun),1,0)) %>%
    arrange(Month, Day) %>%
    ungroup()

In [55]:
rpd4 <- rpd3 %>%
    group_by(Date) %>%
    mutate(rpd=row_number(),
           firstRun=ifelse(rpd==1,1,0)) %>%
    ungroup()

In [56]:
rpd4a <- rpd4 %>% 
    filter(firstRun==1) %>%
    group_by(month.day) %>%
    mutate(numYear=row_number()) %>%
    ungroup()
tail(rpd4a)

  Date       Mileage time_corr pace_min Month Day month.day numRun highest rpd
1 2018-12-30 2.88    NA              NA 12    30  12/30     7      0       1
2 2020-12-30 7.50    0:52:15   6.966667 12    30  12/30     8      1       1
3 2015-12-31 5.55    0:38:47   6.987988 12    31  12/31     1      0       1
4 2016-12-31 5.37    0:42:46   7.963998 12    31  12/31     2      0       1
5 2017-12-31 7.00    0:51:16   7.323810 12    31  12/31     3      0       1
6 2020-12-31 6.00    0:44:49   7.469444 12    31  12/31     4      1       1
  firstRun numYear
1 1        7
2 1        8
3 1        1
4 1        2
5 1        3
6 1        4

In [57]:
rpd4b <- rpd4 %>%
    filter(firstRun==0) %>%
    mutate(numYear=NA)

In [58]:
rpd5 <- rbind(rpd4a,rpd4b) %>%
    arrange(Month,Day,Date,rpd)

In [59]:
rpd5 %>%
    filter(month.day=="10/2")

   Date       Mileage time_corr pace_min Month Day month.day numRun highest rpd
1  2010-10-02  3.10   0:19:39   6.338710 10    2   10/2       1     0       1
2  2011-10-02  4.26   0:29:57   7.030516 10    2   10/2       2     0       1
3  2012-10-02  3.10   0:18:35   5.994624 10    2   10/2       3     0       1
4  2013-10-02  7.56   0:54:42   7.235450 10    2   10/2       4     0       1
5  2014-10-02  3.10   0:18:18   5.903226 10    2   10/2       5     0       1
6  2015-10-02  3.51   0:25:00   7.122507 10    2   10/2       6     0       1
7  2016-10-02 14.07   1:44:56   7.457948 10    2   10/2       7     0       1
8  2017-10-02  8.00   0:59:52   7.483333 10    2   10/2       8     0       1
9  2018-10-02  4.00   0:28:06   7.025000 10    2   10/2       9     0       1
10 2018-10-02 12.00   NA              NA 10    2   10/2      10     0       2
11 2019-10-02  9.51   NA              NA 10    2   10/2      11     0       1
12 2020-10-02  9.31   1:08:15   7.330827 10    2   10/2      12     0       1
13 2021-10-02 13.11   1:16:48   5.858124 10    2   10/2      13     0       1
14 2021-10-02  3.00   NA              NA 10    2   10/2      14     1       2
   firstRun numYear
1  1         1
2  1         2
3  1         3
4  1         4
5  1         5
6  1         6
7  1         7
8  1         8
9  1         9
10 0        NA
11 1        10
12 1        11
13 1        12
14 0        NA

In [60]:
rpd6 <- rpd5
rpd6$numYear<-rpd6$numYear[match(rpd6$Date,rpd6$Date)]

In [61]:
rpd6 %>%
    filter(month.day=="10/2")

   Date       Mileage time_corr pace_min Month Day month.day numRun highest rpd
1  2010-10-02  3.10   0:19:39   6.338710 10    2   10/2       1     0       1
2  2011-10-02  4.26   0:29:57   7.030516 10    2   10/2       2     0       1
3  2012-10-02  3.10   0:18:35   5.994624 10    2   10/2       3     0       1
4  2013-10-02  7.56   0:54:42   7.235450 10    2   10/2       4     0       1
5  2014-10-02  3.10   0:18:18   5.903226 10    2   10/2       5     0       1
6  2015-10-02  3.51   0:25:00   7.122507 10    2   10/2       6     0       1
7  2016-10-02 14.07   1:44:56   7.457948 10    2   10/2       7     0       1
8  2017-10-02  8.00   0:59:52   7.483333 10    2   10/2       8     0       1
9  2018-10-02  4.00   0:28:06   7.025000 10    2   10/2       9     0       1
10 2018-10-02 12.00   NA              NA 10    2   10/2      10     0       2
11 2019-10-02  9.51   NA              NA 10    2   10/2      11     0       1
12 2020-10-02  9.31   1:08:15   7.330827 10    2   10/2      12     0       1
13 2021-10-02 13.11   1:16:48   5.858124 10    2   10/2      13     0       1
14 2021-10-02  3.00   NA              NA 10    2   10/2      14     1       2
   firstRun numYear
1  1         1
2  1         2
3  1         3
4  1         4
5  1         5
6  1         6
7  1         7
8  1         8
9  1         9
10 0         9
11 1        10
12 1        11
13 1        12
14 0        12

In [63]:
#write_csv(rpd6,"rpd.csv")