In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("~/Documents/NIH IRTA/Running Log.csv")

In [6]:
print(df)

           Date  Mileage     Time
0    2009-04-25     3.10    29:38
1    2009-11-21     3.10    22:51
2    2010-01-04     1.30    17:00
3    2010-01-05     2.60    28:00
4    2010-01-07     2.60    28:00
5    2010-01-11     1.30      NaN
6    2010-01-14     2.60    26:00
7    2010-01-16     4.05    35:48
8    2010-01-19     2.60    24:00
9    2010-01-25     2.66    24:15
10   2010-01-26     2.60    24:19
11   2010-01-28     3.27    26:29
12   2010-02-04     2.60    24:03
13   2010-02-11     2.60      NaN
14   2010-02-16     2.60    22:04
15   2010-02-18     2.60    22:56
16   2010-03-13     3.00    29:28
17   2010-03-15     3.00    28:00
18   2010-03-16     3.00    30:00
19   2010-04-04     2.60    22:02
20   2010-04-24     3.10    24:12
21   2010-05-02     3.75    42:04
22   2010-05-11     2.60    22:10
23   2010-05-13     2.13    21:00
24   2010-05-19     2.60    20:15
25   2010-05-20     3.30      NaN
26   2010-05-22     4.05    37:34
27   2010-05-25     4.30    33:48
28   2010-05-27     5.40    38:58
29   2010-05-29     2.60    22:25
..          ...      ...      ...
226  2011-11-12     4.00      NaN
227  2011-11-13     4.05    29:17
228  2011-11-14     1.10     6:01
229  2011-11-15     4.00    26:58
230  2011-11-16     4.00    28:47
231  2011-11-17     6.00    41:55
232  2011-11-19     3.10    17:42
233  2011-11-22     5.10    37:43
234  2011-11-24     2.12    12:35
235  2011-11-28     4.00    28:54
236  2011-11-29     4.20    30:42
237  2011-11-30     6.92    49:58
238  2011-12-03     4.05    31:06
239  2011-12-04     8.20  1:03:32
240  2011-12-06     4.20    30:00
241  2011-12-07     6.00    42:57
242  2011-12-10     3.25      NaN
243  2011-12-12     4.20    29:56
244  2011-12-13     4.10    28:31
245  2011-12-14     6.47    46:58
246  2011-12-16     6.00    43:14
247  2011-12-18     8.20  1:04:08
248  2011-12-20     5.00    33:50
249  2011-12-21     4.10    29:04
250  2011-12-22     4.07    29:35
251  2011-12-24     9.20  1:11:05
252  2011-12-27     8.20  1:00:49
253  2011-12-29     4.20    30:58
254  2011-12-30     6.10    49:18
255  2012-01-01     3.10    19:05

[256 rows x 3 columns]

In [7]:
df["yada"] = pd.np.where(df.Time.str.contains('\d:\d\d:\d\d', regex = True), df["Time"], "0:" + df["Time"])
print(df)

           Date  Mileage     Time     yada
0    2009-04-25     3.10    29:38  0:29:38
1    2009-11-21     3.10    22:51  0:22:51
2    2010-01-04     1.30    17:00  0:17:00
3    2010-01-05     2.60    28:00  0:28:00
4    2010-01-07     2.60    28:00  0:28:00
5    2010-01-11     1.30      NaN      NaN
6    2010-01-14     2.60    26:00  0:26:00
7    2010-01-16     4.05    35:48  0:35:48
8    2010-01-19     2.60    24:00  0:24:00
9    2010-01-25     2.66    24:15  0:24:15
10   2010-01-26     2.60    24:19  0:24:19
11   2010-01-28     3.27    26:29  0:26:29
12   2010-02-04     2.60    24:03  0:24:03
13   2010-02-11     2.60      NaN      NaN
14   2010-02-16     2.60    22:04  0:22:04
15   2010-02-18     2.60    22:56  0:22:56
16   2010-03-13     3.00    29:28  0:29:28
17   2010-03-15     3.00    28:00  0:28:00
18   2010-03-16     3.00    30:00  0:30:00
19   2010-04-04     2.60    22:02  0:22:02
20   2010-04-24     3.10    24:12  0:24:12
21   2010-05-02     3.75    42:04  0:42:04
22   2010-05-11     2.60    22:10  0:22:10
23   2010-05-13     2.13    21:00  0:21:00
24   2010-05-19     2.60    20:15  0:20:15
25   2010-05-20     3.30      NaN      NaN
26   2010-05-22     4.05    37:34  0:37:34
27   2010-05-25     4.30    33:48  0:33:48
28   2010-05-27     5.40    38:58  0:38:58
29   2010-05-29     2.60    22:25  0:22:25
..          ...      ...      ...      ...
226  2011-11-12     4.00      NaN      NaN
227  2011-11-13     4.05    29:17  0:29:17
228  2011-11-14     1.10     6:01   0:6:01
229  2011-11-15     4.00    26:58  0:26:58
230  2011-11-16     4.00    28:47  0:28:47
231  2011-11-17     6.00    41:55  0:41:55
232  2011-11-19     3.10    17:42  0:17:42
233  2011-11-22     5.10    37:43  0:37:43
234  2011-11-24     2.12    12:35  0:12:35
235  2011-11-28     4.00    28:54  0:28:54
236  2011-11-29     4.20    30:42  0:30:42
237  2011-11-30     6.92    49:58  0:49:58
238  2011-12-03     4.05    31:06  0:31:06
239  2011-12-04     8.20  1:03:32  1:03:32
240  2011-12-06     4.20    30:00  0:30:00
241  2011-12-07     6.00    42:57  0:42:57
242  2011-12-10     3.25      NaN      NaN
243  2011-12-12     4.20    29:56  0:29:56
244  2011-12-13     4.10    28:31  0:28:31
245  2011-12-14     6.47    46:58  0:46:58
246  2011-12-16     6.00    43:14  0:43:14
247  2011-12-18     8.20  1:04:08  1:04:08
248  2011-12-20     5.00    33:50  0:33:50
249  2011-12-21     4.10    29:04  0:29:04
250  2011-12-22     4.07    29:35  0:29:35
251  2011-12-24     9.20  1:11:05  1:11:05
252  2011-12-27     8.20  1:00:49  1:00:49
253  2011-12-29     4.20    30:58  0:30:58
254  2011-12-30     6.10    49:18  0:49:18
255  2012-01-01     3.10    19:05  0:19:05

[256 rows x 4 columns]

In [8]:
#df.dropna(inplace=True)
new = df["yada"].str.split(pat = ":", expand = True)
print(new)

       0    1    2
0      0   29   38
1      0   22   51
2      0   17   00
3      0   28   00
4      0   28   00
5    NaN  NaN  NaN
6      0   26   00
7      0   35   48
8      0   24   00
9      0   24   15
10     0   24   19
11     0   26   29
12     0   24   03
13   NaN  NaN  NaN
14     0   22   04
15     0   22   56
16     0   29   28
17     0   28   00
18     0   30   00
19     0   22   02
20     0   24   12
21     0   42   04
22     0   22   10
23     0   21   00
24     0   20   15
25   NaN  NaN  NaN
26     0   37   34
27     0   33   48
28     0   38   58
29     0   22   25
..   ...  ...  ...
226  NaN  NaN  NaN
227    0   29   17
228    0    6   01
229    0   26   58
230    0   28   47
231    0   41   55
232    0   17   42
233    0   37   43
234    0   12   35
235    0   28   54
236    0   30   42
237    0   49   58
238    0   31   06
239    1   03   32
240    0   30   00
241    0   42   57
242  NaN  NaN  NaN
243    0   29   56
244    0   28   31
245    0   46   58
246    0   43   14
247    1   04   08
248    0   33   50
249    0   29   04
250    0   29   35
251    1   11   05
252    1   00   49
253    0   30   58
254    0   49   18
255    0   19   05

[256 rows x 3 columns]

In [9]:
result = pd.concat([df, new], axis=1, sort=False)
print(result)

           Date  Mileage     Time     yada    0    1    2
0    2009-04-25     3.10    29:38  0:29:38    0   29   38
1    2009-11-21     3.10    22:51  0:22:51    0   22   51
2    2010-01-04     1.30    17:00  0:17:00    0   17   00
3    2010-01-05     2.60    28:00  0:28:00    0   28   00
4    2010-01-07     2.60    28:00  0:28:00    0   28   00
5    2010-01-11     1.30      NaN      NaN  NaN  NaN  NaN
6    2010-01-14     2.60    26:00  0:26:00    0   26   00
7    2010-01-16     4.05    35:48  0:35:48    0   35   48
8    2010-01-19     2.60    24:00  0:24:00    0   24   00
9    2010-01-25     2.66    24:15  0:24:15    0   24   15
10   2010-01-26     2.60    24:19  0:24:19    0   24   19
11   2010-01-28     3.27    26:29  0:26:29    0   26   29
12   2010-02-04     2.60    24:03  0:24:03    0   24   03
13   2010-02-11     2.60      NaN      NaN  NaN  NaN  NaN
14   2010-02-16     2.60    22:04  0:22:04    0   22   04
15   2010-02-18     2.60    22:56  0:22:56    0   22   56
16   2010-03-13     3.00    29:28  0:29:28    0   29   28
17   2010-03-15     3.00    28:00  0:28:00    0   28   00
18   2010-03-16     3.00    30:00  0:30:00    0   30   00
19   2010-04-04     2.60    22:02  0:22:02    0   22   02
20   2010-04-24     3.10    24:12  0:24:12    0   24   12
21   2010-05-02     3.75    42:04  0:42:04    0   42   04
22   2010-05-11     2.60    22:10  0:22:10    0   22   10
23   2010-05-13     2.13    21:00  0:21:00    0   21   00
24   2010-05-19     2.60    20:15  0:20:15    0   20   15
25   2010-05-20     3.30      NaN      NaN  NaN  NaN  NaN
26   2010-05-22     4.05    37:34  0:37:34    0   37   34
27   2010-05-25     4.30    33:48  0:33:48    0   33   48
28   2010-05-27     5.40    38:58  0:38:58    0   38   58
29   2010-05-29     2.60    22:25  0:22:25    0   22   25
..          ...      ...      ...      ...  ...  ...  ...
226  2011-11-12     4.00      NaN      NaN  NaN  NaN  NaN
227  2011-11-13     4.05    29:17  0:29:17    0   29   17
228  2011-11-14     1.10     6:01   0:6:01    0    6   01
229  2011-11-15     4.00    26:58  0:26:58    0   26   58
230  2011-11-16     4.00    28:47  0:28:47    0   28   47
231  2011-11-17     6.00    41:55  0:41:55    0   41   55
232  2011-11-19     3.10    17:42  0:17:42    0   17   42
233  2011-11-22     5.10    37:43  0:37:43    0   37   43
234  2011-11-24     2.12    12:35  0:12:35    0   12   35
235  2011-11-28     4.00    28:54  0:28:54    0   28   54
236  2011-11-29     4.20    30:42  0:30:42    0   30   42
237  2011-11-30     6.92    49:58  0:49:58    0   49   58
238  2011-12-03     4.05    31:06  0:31:06    0   31   06
239  2011-12-04     8.20  1:03:32  1:03:32    1   03   32
240  2011-12-06     4.20    30:00  0:30:00    0   30   00
241  2011-12-07     6.00    42:57  0:42:57    0   42   57
242  2011-12-10     3.25      NaN      NaN  NaN  NaN  NaN
243  2011-12-12     4.20    29:56  0:29:56    0   29   56
244  2011-12-13     4.10    28:31  0:28:31    0   28   31
245  2011-12-14     6.47    46:58  0:46:58    0   46   58
246  2011-12-16     6.00    43:14  0:43:14    0   43   14
247  2011-12-18     8.20  1:04:08  1:04:08    1   04   08
248  2011-12-20     5.00    33:50  0:33:50    0   33   50
249  2011-12-21     4.10    29:04  0:29:04    0   29   04
250  2011-12-22     4.07    29:35  0:29:35    0   29   35
251  2011-12-24     9.20  1:11:05  1:11:05    1   11   05
252  2011-12-27     8.20  1:00:49  1:00:49    1   00   49
253  2011-12-29     4.20    30:58  0:30:58    0   30   58
254  2011-12-30     6.10    49:18  0:49:18    0   49   18
255  2012-01-01     3.10    19:05  0:19:05    0   19   05

[256 rows x 7 columns]

In [1]:
df2 = result.rename(columns={"yada": "time_corr", 0: "hours", 1: "minutes", 2: "seconds"})
print(df2)

NameError: name 'result' is not defined

In [29]:
df2['hours'] = pd.to_numeric(df2['hours'])
df2['minutes'] = pd.to_numeric(df2['minutes'])
df2['seconds'] = pd.to_numeric(df2['seconds'])

In [34]:
time_seconds = df2.hours*3600 + df2.minutes*60 + df2.seconds
df2['time_s'] = time_seconds
print(df2)

           Date  Mileage     Time time_corr  hours  minutes  seconds  time_s
0    2009-04-25     3.10    29:38   0:29:38    0.0     29.0     38.0  1778.0
1    2009-11-21     3.10    22:51   0:22:51    0.0     22.0     51.0  1371.0
2    2010-01-04     1.30    17:00   0:17:00    0.0     17.0      0.0  1020.0
3    2010-01-05     2.60    28:00   0:28:00    0.0     28.0      0.0  1680.0
4    2010-01-07     2.60    28:00   0:28:00    0.0     28.0      0.0  1680.0
5    2010-01-11     1.30      NaN       NaN    NaN      NaN      NaN     NaN
6    2010-01-14     2.60    26:00   0:26:00    0.0     26.0      0.0  1560.0
7    2010-01-16     4.05    35:48   0:35:48    0.0     35.0     48.0  2148.0
8    2010-01-19     2.60    24:00   0:24:00    0.0     24.0      0.0  1440.0
9    2010-01-25     2.66    24:15   0:24:15    0.0     24.0     15.0  1455.0
10   2010-01-26     2.60    24:19   0:24:19    0.0     24.0     19.0  1459.0
11   2010-01-28     3.27    26:29   0:26:29    0.0     26.0     29.0  1589.0
12   2010-02-04     2.60    24:03   0:24:03    0.0     24.0      3.0  1443.0
13   2010-02-11     2.60      NaN       NaN    NaN      NaN      NaN     NaN
14   2010-02-16     2.60    22:04   0:22:04    0.0     22.0      4.0  1324.0
15   2010-02-18     2.60    22:56   0:22:56    0.0     22.0     56.0  1376.0
16   2010-03-13     3.00    29:28   0:29:28    0.0     29.0     28.0  1768.0
17   2010-03-15     3.00    28:00   0:28:00    0.0     28.0      0.0  1680.0
18   2010-03-16     3.00    30:00   0:30:00    0.0     30.0      0.0  1800.0
19   2010-04-04     2.60    22:02   0:22:02    0.0     22.0      2.0  1322.0
20   2010-04-24     3.10    24:12   0:24:12    0.0     24.0     12.0  1452.0
21   2010-05-02     3.75    42:04   0:42:04    0.0     42.0      4.0  2524.0
22   2010-05-11     2.60    22:10   0:22:10    0.0     22.0     10.0  1330.0
23   2010-05-13     2.13    21:00   0:21:00    0.0     21.0      0.0  1260.0
24   2010-05-19     2.60    20:15   0:20:15    0.0     20.0     15.0  1215.0
25   2010-05-20     3.30      NaN       NaN    NaN      NaN      NaN     NaN
26   2010-05-22     4.05    37:34   0:37:34    0.0     37.0     34.0  2254.0
27   2010-05-25     4.30    33:48   0:33:48    0.0     33.0     48.0  2028.0
28   2010-05-27     5.40    38:58   0:38:58    0.0     38.0     58.0  2338.0
29   2010-05-29     2.60    22:25   0:22:25    0.0     22.0     25.0  1345.0
..          ...      ...      ...       ...    ...      ...      ...     ...
226  2011-11-12     4.00      NaN       NaN    NaN      NaN      NaN     NaN
227  2011-11-13     4.05    29:17   0:29:17    0.0     29.0     17.0  1757.0
228  2011-11-14     1.10     6:01    0:6:01    0.0      6.0      1.0   361.0
229  2011-11-15     4.00    26:58   0:26:58    0.0     26.0     58.0  1618.0
230  2011-11-16     4.00    28:47   0:28:47    0.0     28.0     47.0  1727.0
231  2011-11-17     6.00    41:55   0:41:55    0.0     41.0     55.0  2515.0
232  2011-11-19     3.10    17:42   0:17:42    0.0     17.0     42.0  1062.0
233  2011-11-22     5.10    37:43   0:37:43    0.0     37.0     43.0  2263.0
234  2011-11-24     2.12    12:35   0:12:35    0.0     12.0     35.0   755.0
235  2011-11-28     4.00    28:54   0:28:54    0.0     28.0     54.0  1734.0
236  2011-11-29     4.20    30:42   0:30:42    0.0     30.0     42.0  1842.0
237  2011-11-30     6.92    49:58   0:49:58    0.0     49.0     58.0  2998.0
238  2011-12-03     4.05    31:06   0:31:06    0.0     31.0      6.0  1866.0
239  2011-12-04     8.20  1:03:32   1:03:32    1.0      3.0     32.0  3812.0
240  2011-12-06     4.20    30:00   0:30:00    0.0     30.0      0.0  1800.0
241  2011-12-07     6.00    42:57   0:42:57    0.0     42.0     57.0  2577.0
242  2011-12-10     3.25      NaN       NaN    NaN      NaN      NaN     NaN
243  2011-12-12     4.20    29:56   0:29:56    0.0     29.0     56.0  1796.0
244  2011-12-13     4.10    28:31   0:28:31    0.0     28.0     31.0  1711.0
245  2011-12-14     6.47    46:58   0:46:58    0.0     46.0     58.0  2818.0
246  2011-12-16     6.00    43:14   0:43:14    0.0     43.0     14.0  2594.0
247  2011-12-18     8.20  1:04:08   1:04:08    1.0      4.0      8.0  3848.0
248  2011-12-20     5.00    33:50   0:33:50    0.0     33.0     50.0  2030.0
249  2011-12-21     4.10    29:04   0:29:04    0.0     29.0      4.0  1744.0
250  2011-12-22     4.07    29:35   0:29:35    0.0     29.0     35.0  1775.0
251  2011-12-24     9.20  1:11:05   1:11:05    1.0     11.0      5.0  4265.0
252  2011-12-27     8.20  1:00:49   1:00:49    1.0      0.0     49.0  3649.0
253  2011-12-29     4.20    30:58   0:30:58    0.0     30.0     58.0  1858.0
254  2011-12-30     6.10    49:18   0:49:18    0.0     49.0     18.0  2958.0
255  2012-01-01     3.10    19:05   0:19:05    0.0     19.0      5.0  1145.0

[256 rows x 8 columns]

In [38]:
df2['Mileage'] = pd.to_numeric(df2['Mileage'])
pace_s = df2.time_s / df2.Mileage
df2['pace_s'] = pace_s
print(df2.tail(10))

           Date  Mileage     Time time_corr  hours  minutes  seconds  time_s  \
246  2011-12-16     6.00    43:14   0:43:14    0.0     43.0     14.0  2594.0
247  2011-12-18     8.20  1:04:08   1:04:08    1.0      4.0      8.0  3848.0
248  2011-12-20     5.00    33:50   0:33:50    0.0     33.0     50.0  2030.0
249  2011-12-21     4.10    29:04   0:29:04    0.0     29.0      4.0  1744.0
250  2011-12-22     4.07    29:35   0:29:35    0.0     29.0     35.0  1775.0
251  2011-12-24     9.20  1:11:05   1:11:05    1.0     11.0      5.0  4265.0
252  2011-12-27     8.20  1:00:49   1:00:49    1.0      0.0     49.0  3649.0
253  2011-12-29     4.20    30:58   0:30:58    0.0     30.0     58.0  1858.0
254  2011-12-30     6.10    49:18   0:49:18    0.0     49.0     18.0  2958.0
255  2012-01-01     3.10    19:05   0:19:05    0.0     19.0      5.0  1145.0

           pace      pace_s
246  432.333333  432.333333
247  469.268293  469.268293
248  406.000000  406.000000
249  425.365854  425.365854
250  436.117936  436.117936
251  463.586957  463.586957
252  445.000000  445.000000
253  442.380952  442.380952
254  484.918033  484.918033
255  369.354839  369.354839

In [41]:
pace_min = df2.pace_s / 60
df2['pace_min'] = pace_min
print(df2.tail(10))

           Date  Mileage     Time time_corr  hours  minutes  seconds  time_s  \
246  2011-12-16     6.00    43:14   0:43:14    0.0     43.0     14.0  2594.0
247  2011-12-18     8.20  1:04:08   1:04:08    1.0      4.0      8.0  3848.0
248  2011-12-20     5.00    33:50   0:33:50    0.0     33.0     50.0  2030.0
249  2011-12-21     4.10    29:04   0:29:04    0.0     29.0      4.0  1744.0
250  2011-12-22     4.07    29:35   0:29:35    0.0     29.0     35.0  1775.0
251  2011-12-24     9.20  1:11:05   1:11:05    1.0     11.0      5.0  4265.0
252  2011-12-27     8.20  1:00:49   1:00:49    1.0      0.0     49.0  3649.0
253  2011-12-29     4.20    30:58   0:30:58    0.0     30.0     58.0  1858.0
254  2011-12-30     6.10    49:18   0:49:18    0.0     49.0     18.0  2958.0
255  2012-01-01     3.10    19:05   0:19:05    0.0     19.0      5.0  1145.0

           pace      pace_s  pace_min
246  432.333333  432.333333  7.205556
247  469.268293  469.268293  7.821138
248  406.000000  406.000000  6.766667
249  425.365854  425.365854  7.089431
250  436.117936  436.117936  7.268632
251  463.586957  463.586957  7.726449
252  445.000000  445.000000  7.416667
253  442.380952  442.380952  7.373016
254  484.918033  484.918033  8.081967
255  369.354839  369.354839  6.155914

In [57]:
df2.pace_min = df2.pace_min.astype(str)

In [59]:
splits = df2["pace_min"].str.split(pat = ".", expand = True)
print(splits.tail(10))

     0                1
246  7  205555555555555
247  7  821138211382115
248  6  766666666666667
249  7  089430894308944
250  7  268632268632269
251  7  726449275362319
252  7  416666666666668
253  7  373015873015873
254  8  081967213114755
255  6  155913978494623

In [61]:
df['new_col'] = df['First'].astype(str).str[0]

KeyError: 1