In [2]:
import pandas as pd
from dolwick_project import splitdate
from dolwick_project import test_splitdate

In [3]:
d = pd.read_csv("clean.csv")

In [4]:
pd.options.display.max_rows=3000
#print(d)
print(d.tail(10))
pd.options.display.max_rows=20

            Date  Mileage time_corr  pace_min
2399  2020-01-10     6.04   0:42:41  7.066777
2400  2020-01-11     6.13   0:43:08  7.036433
2401  2020-01-13     5.10   0:33:49  6.630719
2402  2020-01-14     6.02   0:43:23  7.206534
2403  2020-01-17     8.13   0:59:33  7.324723
2404  2020-01-19     9.61   1:04:44  6.736039
2405  2020-01-20     6.68   0:50:00  7.485030
2406  2020-01-21     5.00   0:35:53  7.176667
2407  2020-01-22     6.11   0:43:23  7.100382
2408  2020-01-24     7.16   0:48:25  6.762104

In [5]:
dymd = splitdate.splitdate(d, d['Date'])
pd.options.display.max_rows=20
print(dymd)
#making sure splitdate works properly
test_splitdate.tsd()

            Date  Mileage time_corr   pace_min  year month day
0     2009-04-25     3.10   0:29:38   9.559140  2009    04  25
1     2009-11-21     3.10   0:22:51   7.370968  2009    11  21
2     2010-01-04     1.30   0:17:00  13.076923  2010    01  04
3     2010-01-05     2.60   0:28:00  10.769231  2010    01  05
4     2010-01-07     2.60   0:28:00  10.769231  2010    01  07
5     2010-01-11     1.30       NaN        NaN  2010    01  11
6     2010-01-14     2.60   0:26:00  10.000000  2010    01  14
7     2010-01-16     4.05   0:35:48   8.839506  2010    01  16
8     2010-01-19     2.60   0:24:00   9.230769  2010    01  19
9     2010-01-25     2.66   0:24:15   9.116541  2010    01  25
...          ...      ...       ...        ...   ...   ...  ..
2399  2020-01-10     6.04   0:42:41   7.066777  2020    01  10
2400  2020-01-11     6.13   0:43:08   7.036433  2020    01  11
2401  2020-01-13     5.10   0:33:49   6.630719  2020    01  13
2402  2020-01-14     6.02   0:43:23   7.206534  2020    01  14
2403  2020-01-17     8.13   0:59:33   7.324723  2020    01  17
2404  2020-01-19     9.61   1:04:44   6.736039  2020    01  19
2405  2020-01-20     6.68   0:50:00   7.485030  2020    01  20
2406  2020-01-21     5.00   0:35:53   7.176667  2020    01  21
2407  2020-01-22     6.11   0:43:23   7.100382  2020    01  22
2408  2020-01-24     7.16   0:48:25   6.762104  2020    01  24

[2409 rows x 7 columns]

In [6]:
Total = dymd['Mileage'].sum()
print(Total)

14634.16

In [21]:
d2010 = dymd[dymd['year'] == '2010']
Total2010 = d2010['Mileage'].sum()
print(Total2010)

417.86

In [22]:
d2011 = dymd[dymd['year'] == '2011']
Total2011 = d2011['Mileage'].sum()
print(Total2011)

534.05

In [23]:
d2012 = dymd[dymd['year'] == '2012']
Total2012 = d2012['Mileage'].sum()
print(Total2012)

689.38

In [24]:
d2013 = dymd[dymd['year'] == '2013']
Total2013 = d2013['Mileage'].sum()
print(Total2013)

687.18

In [25]:
d2014 = dymd[dymd['year'] == '2014']
Total2014 = d2014['Mileage'].sum()
print(Total2014)

1029.0

In [26]:
d2015 = dymd[dymd['year'] == '2015']
Total2015 = d2015['Mileage'].sum()
print(Total2015)

1658.3400000000001

In [27]:
d2016 = dymd[dymd['year'] == '2016']
Total2016 = d2016['Mileage'].sum()
print(Total2016)

2036.7900000000002

In [28]:
d2017 = dymd[dymd['year'] == '2017']
Total2017 = d2017['Mileage'].sum()
print(Total2017)

2200.0

In [29]:
d2018 = dymd[dymd['year'] == '2018']
Total2018 = d2018['Mileage'].sum()
print(Total2018)

2973.0

In [30]:
d2019 = dymd[dymd['year'] == '2019']
Total2019 = d2019['Mileage'].sum()
print(Total2019)

2313.9900000000002

In [ ]:
d2020 = dymd[dymd['year'] == '2020']
Total2020 = d2020['Mileage'].sum()
print(Total2020)