In [5]:
import pandas as pd
from dolwick_project import splitdate
from dolwick_project import test_splitdate

In [2]:
d = pd.read_csv("clean.csv")

In [3]:
pd.options.display.max_rows=3000
#print(d)
print(d.tail(10))
pd.options.display.max_rows=20

            Date  Mileage time_corr  pace_min
2385  2019-12-11     6.34   0:46:57  7.405363
2386  2019-12-12     6.51   0:46:36  7.158218
2387  2019-12-13     6.55   0:46:58  7.170483
2388  2019-12-14     6.21   0:34:14  5.512614
2389  2019-12-14     5.58       NaN       NaN
2390  2019-12-17     4.70   0:33:30  7.127660
2391  2019-12-18     4.69   0:31:50  6.787491
2392  2019-12-19     4.79   0:35:46  7.466945
2393  2019-12-22     4.95   0:35:19  7.134680
2394  2019-12-24     6.00   0:40:17  6.713889

In [7]:
dymd = splitdate.splitdate(d, d['Date'])
pd.options.display.max_rows=20
print(dymd)
#making sure splitdate works properly
test_splitdate.tsd()

            Date  Mileage time_corr   pace_min  year month day
0     2009-04-25     3.10   0:29:38   9.559140  2009    04  25
1     2009-11-21     3.10   0:22:51   7.370968  2009    11  21
2     2010-01-04     1.30   0:17:00  13.076923  2010    01  04
3     2010-01-05     2.60   0:28:00  10.769231  2010    01  05
4     2010-01-07     2.60   0:28:00  10.769231  2010    01  07
5     2010-01-11     1.30       NaN        NaN  2010    01  11
6     2010-01-14     2.60   0:26:00  10.000000  2010    01  14
7     2010-01-16     4.05   0:35:48   8.839506  2010    01  16
8     2010-01-19     2.60   0:24:00   9.230769  2010    01  19
9     2010-01-25     2.66   0:24:15   9.116541  2010    01  25
...          ...      ...       ...        ...   ...   ...  ..
2385  2019-12-11     6.34   0:46:57   7.405363  2019    12  11
2386  2019-12-12     6.51   0:46:36   7.158218  2019    12  12
2387  2019-12-13     6.55   0:46:58   7.170483  2019    12  13
2388  2019-12-14     6.21   0:34:14   5.512614  2019    12  14
2389  2019-12-14     5.58       NaN        NaN  2019    12  14
2390  2019-12-17     4.70   0:33:30   7.127660  2019    12  17
2391  2019-12-18     4.69   0:31:50   6.787491  2019    12  18
2392  2019-12-19     4.79   0:35:46   7.466945  2019    12  19
2393  2019-12-22     4.95   0:35:19   7.134680  2019    12  22
2394  2019-12-24     6.00   0:40:17   6.713889  2019    12  24

[2395 rows x 7 columns]

In [21]:
d2010 = dymd[dymd['year'] == '2010']
Total2010 = d2010['Mileage'].sum()
print(Total2010)

417.86

In [22]:
d2011 = dymd[dymd['year'] == '2011']
Total2011 = d2011['Mileage'].sum()
print(Total2011)

534.05

In [23]:
d2012 = dymd[dymd['year'] == '2012']
Total2012 = d2012['Mileage'].sum()
print(Total2012)

689.38

In [24]:
d2013 = dymd[dymd['year'] == '2013']
Total2013 = d2013['Mileage'].sum()
print(Total2013)

687.18

In [25]:
d2014 = dymd[dymd['year'] == '2014']
Total2014 = d2014['Mileage'].sum()
print(Total2014)

1029.0

In [26]:
d2015 = dymd[dymd['year'] == '2015']
Total2015 = d2015['Mileage'].sum()
print(Total2015)

1658.3400000000001

In [27]:
d2016 = dymd[dymd['year'] == '2016']
Total2016 = d2016['Mileage'].sum()
print(Total2016)

2036.7900000000002

In [28]:
d2017 = dymd[dymd['year'] == '2017']
Total2017 = d2017['Mileage'].sum()
print(Total2017)

2200.0

In [29]:
d2018 = dymd[dymd['year'] == '2018']
Total2018 = d2018['Mileage'].sum()
print(Total2018)

2973.0

In [30]:
d2019 = dymd[dymd['year'] == '2019']
Total2019 = d2019['Mileage'].sum()
print(Total2019)

2313.9900000000002